.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;

  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

/* .button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
} */
.rightNavBar{
  display: flex;
  gap: 15px;
 }
.adress{
  font-weight: 600;
  color: rgb(0, 0, 255);

}
img{
  max-width: 300px;
}

.globalButton{
  width: 160px;
  color: white;
  text-decoration: none;
  margin: 20px;
}
.galleryHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBox{
  display: flex;
  justify-content: center;

}
.washPostLogo{
  scale: 2;
  display: block;
  margin-top: 100px;
  margin-bottom: 70px;
}


/* Articles */

#addArticle{
  font-size: 25px;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.articleCard{
  width: 530px;
  
}
.articlePage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-top: 40px;
  gap: 20px;
}
.scroll {
  max-height: 300px;
  overflow-y: auto;
  margin: 20px;
}
.galleryImage{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.articleImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 40px;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}
.pagination a:hover {
  background-color: #f5f5f5;
}
.pagination .current {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.modalBody{
  max-height: 500px ;
  word-wrap:break-word;
  overflow-x: hidden;
}
.articleContent{
  max-width: 500px; 
  word-wrap: break-word;  
}
#titleCol{
  max-width: 200px ;
  word-wrap:break-word;
  overflow-y: hidden;
}
.articleDate{
  min-width: 200px ;
  word-wrap:break-word;
  overflow-y: hidden;
}
/* Profiles */

.roleLabel{
  background-color: rgb(102, 68, 255);
  border-radius: 15px;
  padding: 3px;
  font-size: 23px;
  color: white;
}

.loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.loginForm form {
  width: 400px;
}
.linkAdress:hover{
  cursor: pointer;
}
.adminButton{
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 15px;
}
.articleButton{
  font-size: 18px;
  width: 120px;
  height: 40px;
  margin: 15px;
}

/* -------homepage------ */

.homePageBox{
  width: 50%;
  z-index: 3;
}
.newsCards{ 
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
  width:100%;
  gap:10px;
  margin-top: 15%;
  margin-left: 15%;

}
.leftHompage{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-top: 300px;
}

.dailyNewsImg{
  position: absolute;
  z-index: 1;
  top: 50%; 
  left: 50%;
  scale: 3;
}
.newsCard {
  position: absolute;
  top: 50%; 
  left: 48%;
  z-index: 2;
  min-width: 300px;
}
.newscardContent{
  max-height: 300px;
  overflow-y: auto;
}
.scrollable-content {
  height: 100%; 
  overflow-y: auto; 
}
.homeBody{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 0;
  margin-right: 5%
}


 /* --------------- Small screens <1150px ---------------*/

@media screen and (max-width: 1150px){
  .homePageBox{
    width: 80%;
    z-index: 3;
    margin-top: 500px;
  }
  .newsCards{ 
    margin-top: 0%;
    margin-left: 0%;
  }
  .homeBody{
    flex-direction: column;
    align-items: center;
    margin-right:0;
  }
  .leftHompage{
    width: 50%;
    height: 100%;
    margin-top: 300px;
  }
  .dailyNewsImg{
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 25%;
    scale: 3;
  }
  .newsCard {
    position: absolute;
    top: 50%; 
    left: 23%;
    z-index: 2;
    min-width: 300px;
  }
}
/* --------------- Tablettes <800px ---------------*/

@media screen and (max-width: 800px){
  .dailyNewsImg{
    scale: 2;
 
  }
  .newscardContent{
    max-height: 200px;
    overflow-y: auto;
  }
  .leftHompage{
    margin-top: 200px;
    margin-right: 50px;
  }
  .washPostLogo{
    scale: 1.5;

  }
  .homePageBox{
    width: 80%;
    z-index: 3;
    margin-top: 400px;
  }
}
